.persona-card-testimonial-card {
  display: flex;
  padding: 32px;
  max-width: 1400px;
  transition: 0.3s;
  align-items: center;

  border: 1px solid #eeeeee;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF;
}
.persona-card-testimonial-card:hover {
  border: 1px solid #e0e0e0;
  background-color: #f5f5f5;
}
.persona-card-testimonial {
  display: flex;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: space-between;
}
.persona-card-image {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  border-radius: 50%;
}
.persona-card-text {
  font-size: 1.5rem;
  margin-top: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 8px;
}
.persona-card-text1 {
  text-align: center;
  margin-bottom: 16px;
}
























@media(max-width: 767px) {
  .persona-card-testimonial-card {
    padding: 32px;
    box-shadow: 5px 5px 10px 0px rgba(97, 97, 97, 0.1);
  }
}
@media(max-width: 479px) {
  .persona-card-testimonial-card {
    box-shadow: 5px 5px 10px 0px rgba(97, 97, 97, 0.1);
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
  .persona-card-text {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .persona-card-text1 {
    font-size: 0.75rem;
    margin-bottom: 32px;
  }
}
