.login-image{
    margin-left: 16px;
}
.few-details{
    margin-top: 8px;
}

/* for loginPage */
.submit-button2 {
    color: #ffffff;
    width: 288px;
    height: 50px;
    margin-top: 32px;
    transition: 0.3s;
    border-width: 0px;
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    background-color: #008975;
  }
  .submit-button2:hover {
    transform: scale(1.02);
  }